{% load static %}
<nav class="navbar navbar-light fixed-top justify-content-between mynav mt-7">
    <a class="navbar-brand" href="{% url 'various' %}">
        <i class="fab fa-instagram"></i>
        IG Clone
    </a>
    <form class="form-inline" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
            <input class="form-control textsize" type="text" placeholder="search for user" name="user" aria-label="Search">
        </div>
    </form>
    <div class="mr-5 pr-5" style="color:black;">
        <a href="{% url 'various' %}" title="timeline">
            <i class="fa fa-compass fa-1x mr-4"></i>
        </a>
        <a href="{% url 'new_photo' %}" title="upload image">
            <i class="fas fa-upload mr-4"></i>
        </a>
            <a href="{% url 'myprofile' %}" title="My profile">
            <i class="fas fa-user mr-4"></i>
        </a>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{current_user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                
                <a class="dropdown-item" href="/login">Login</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>

</nav>
