{% load static %}
<nav class="navbar navbar-light fixed-top justify-content-between mynav">
    <a class="navbar-brand" href="{% url 'various' %}">
        <i class="fab fa-instagram"></i>
        IG Clone
    </a>
    <form class="form-inline" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
            <input class="form-control textsize" type="text" placeholder="search" name="profile" aria-label="Search">
        </div>
    </form>
    <div class="mr-5 pr-5" style="color:black;">
        <a href="{% url 'various' %}" title="timeline">
            <i class="fa fa-compass fa-1x mr-4"></i>
        </a>
        <a href="{% url 'new_photo' %}" title="upload image">
            <i class="fas fa-upload mr-4"></i>
        </a>
        <a href="{% url 'user_profile' user.id %}" title="My profile">
            <i class="fas fa-user mr-4"></i>
        </a>
    </div>

</nav>
