{%extends 'all/base.html'%} 
{% block content %}
<div class="container mt-5">

    <div class="row">
        {% if profiles %}
        <h2>Found {{ profiles|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> No such user profile exists for the search term {{message}}.</h2>
        <h2>A different name perhaps?</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if profiles %} 
        {% for prof in profiles %}
        <div class="col-sm-6 col-md-3">
            <h1>{{prof.user}}</h1>
        </div>
        {% endfor %} 
        {% endif %}
    </div>
</div>
{% endblock %}